<phpunit bootstrap="bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>

        <testsuite name="Functional">
            <directory>tests/Functional</directory>
        </testsuite>

        <testsuite name="Integration">
            <directory>tests/Integration</directory>
        </testsuite>

        <testsuite name="Cli">
            <directory>tests/Functional/Cli</directory>
        </testsuite>

        <testsuite name="WebDriver">
            <directory>tests/Functional/WebDriver</directory>
        </testsuite>

        <testsuite name="SystemSnapshot">
            <directory>tests/Functional/SystemSnapshot</directory>
        </testsuite>
    </testsuites>
</phpunit>
